@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--background-color);
  max-width: 800px;
}

.container {
  display: block;
  background-color: var(--background-color);
  margin: var(--size-between-element);
  padding:0.1px;
}

* {
  transition-property: color, background-color, box-shadow, left, top;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

svg * {
  transition-property: width, height, fill, r, x, y;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}