table {
  border-collapse: collapse;
  margin: var(--size-between-element);
}

table > * {
  background-color: var(--widget-color);
  box-shadow: var(--inactive-shadow);
}

table thead {
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

table tr * {
  width: 150px;
  height: 1.5em;
  text-align: center;
}

table tbody tr:hover {
  box-shadow: var(--active-shadow);
  background-color: var(--widget-active-color);
}